body
{
background-image: linear-gradient(to right top, #b3ffff,#99ffff, #80ffff,#66ffff,#00ffff);
}
.header img
{
    width: 80px;margin-left: -15px
}
.header
{
	color: darkblue;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
    
}
label
{
    font-size: 30px;
}
input
{
    font-size: 20px;
}
button
{
    font-size: 25px;
    background-color:deeppink;
}
h3
{
    font-size: 25px;

}